<div class="main-content" *ngIf="flag">
    <div class="menu-header">
        <div class="logo">
            
        </div>
        <ul class="list-unstyled">
            <li >
                <a class="active" routerLink="/">Trang chủ</a>
            </li>
        </ul>
    </div>

    <div class="content" style="background-image: url('assets/background.JPG');">
        <div class="container-custom">
            <div class="row">
                <div class="main-left">
                    <div class="video-container">
                        <iframe id="ytplayer" type="text/html" [src]="currentSrc | safe:'resourceUrl'"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video-infor">
                        <h2 class="video-title">{{currentVideo.title}}</h2>
                    </div>
                    
                </div>
                <div class="main-right">
                    <div class="list-video">
                        <div class="btn-next" (click)="slickModal.slickPrev()">
                            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        </div>
                        <ngx-slick-carousel class="carousel" 
                                        #slickModal="slick-carousel" 
                                        [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let item of videos" class="slide">
                           
                            <div class="clickable item-video" (click)="changeVideo(item.snippet)" style="width: 100%; height: 170px;">
                                <img src="{{item.snippet.thumbnails.standard.url}}" alt="{{item.snippet.title}}">
                                <div class="cover-content">
                                    <span class="video-name">{{item.snippet.title}}</span>
                                </div>
                            </div>
                        </div>
                        </ngx-slick-carousel>
                        <div class="btn-prev" (click)="slickModal.slickNext()"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>